<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
        }
    </style>
    <script src="//unpkg.com/3d-force-graph"></script>
</head>

<body>

<div id="3d-graph"></div>
<div id="large"></div>
<svg width="960" height="600"></svg>
<div id="main" style="width: 80vw;height:80vh;"></div>

<script src="../static/js/d3version.js"></script>
<script src="../static/js/echartsversion.js"></script>
<script src="../static/js/force3d.js"></script>

<script>
    Force3D();
    eForce();
</script>
<script>
    const elem = document.getElementById('large');

    const Graph = ForceGraph3D()(elem)
        .jsonUrl('../static/data/block.json')
        .nodeAutoColorBy('user')
        .nodeLabel(node => `${node.user}: ${node.description}`)
        .onNodeClick(node => window.open(`https://bl.ocks.org/${node.user}/${node.id}`, '_blank'));
</script>

</body>
</html>